<article class="post-preview">
    <div class="post-preview-meta" {% if post.image %}{% else %}style="width:100%;"{% endif %}>
      <h2>
        <a href="{{ site.github.url }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      <p class="post-date">
        {{ post.date | date: "%B %-d, %Y" }} | {{ post.author }} | {{ post.content | number_of_words | divided_by: 200 | append: " min" }}
      </p>
      <p>
      {{ post.excerpt | strip_html | truncatewords: 35 }}
      </p>
    </div>
    {% if post.image %}
    <div class="post-image-preview">
      {% if post.image contains 'http' %}
      <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.image_description }}"></a>
    {% else %}
      <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/{{ post.image }}" alt="{{ post.image_description }}"></a>
    {% endif %}

    </div>
    {% endif %}
</article>