<div class="sharing">
    <h2>Feel free to share this article</h2>
    <div class="sharing-icons">
      <a href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}&amp;t={{ page.title }}" target="_blank"><i class="fa-brands fa-hacker-news" aria-hidden="true"></i></a>
      <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa-brands fa-reddit" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
      <a href="https://mastodon.social/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></a>
      <a href="mailto:?subject={{ site.title }}&amp;body={{ site.url }}{{ page.url }}" target="_blank"><i class="fa-solid fa-envelope" aria-hidden="true"></i></a>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>